:root {
    font-size: 15px;
    --main-color: #00008B;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", serif;
}
body{
    overflow-x: hidden;
}
section{
    padding: 3rem 2rem;
    margin: 0 5vh;
    max-width: 1500px;
}
.logo img {
    width: auto;
    height: 70px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: linear-gradient( to bottom, black 90%, transparent)

}

.header section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}
.header nav a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
}

.header nav a:hover{
    color: #ffc222;
    border-bottom: 0.1rem solid  #ffc222;
    padding-bottom: 0.2rem;
    font-size: 1.8rem;

}
.btn {
    background: #bb0b0b;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 1rem;

    display: inline-block;
}

.btn:hover{
    letter-spacing: 0.1rem;
}
.homeContainer{
    margin-top: 100px;
}
.homeContainer section {
    display: flex;
    align-items: center;
    min-height: 60vh;
}

.content {
    max-width: 600rem;
    margin-right: 50px;
}

.content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.content p {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.8rem;
    padding: 1rem 0;
}

.tittle {
    font-size: 4.5rem;
    color: #bb0b0b;
    text-align: center;
    text-transform: uppercase;
}
.tittle span {
    color: black;
    text-transform: uppercase;
}
.about .row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.5);
    gap: 1.5rem;
    border-radius: 5px;
}
.about .row .content {
    padding: 2rem;
}
.about .row .content h3 {
    font-size: 3rem;
    color: var(--main-colo);
}
.about .row .content p {
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
}
#produtos{
    margin-bottom: 180px;
}
.pai-serviços{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px 20px;
}
.filho-serviços{
    border-radius: 0.5rem;
    border: 0.1rem solid gray;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(1,200px);
    gap: 20px 20px;
}
.img-serviços1{
    background-image: url('/img/direçaohidro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-serviços2{
    background-image: url('/img/direçaoeletrica.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-serviços3{
    background-image: url('https://cdn.discordapp.com/attachments/1116905758785810554/1328848940203774086/184323-800-450.webp?ex=678b7e44&is=678a2cc4&hm=5ffca53daaf25928f3c2b13574a121df87a7d45a4a307cd50f4614be9f092216&');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    color: black;
    font-size: 2.2rem;
    text-align: center;
}
#div{
    grid-column-start: 2;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.review .box-container .box {
    border: 0.1rem solid gray;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container p{
    font-size: 1.5rem;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}
.subtitle {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: bolder;
    padding-bottom: 1rem;
    text-transform: none;
    font-style: italic;
}
#contato{
    background-color: black;
}
#div-footer{
    margin: 0 5vw;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#logo{
    height:300px;
    width:300px;
}
#contato-pai{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,200px));
}
.gap{
    margin-bottom: 10px;
}
.contato-filho{
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.contato-filho2{
    width: 100px;
    display: grid;
    gap: 10px;
}
#contato-pai div{
    color: white;
}
#contato-pai div a{
    color: white;
    font-size: 1.3rem;
}
h5{
    font-size: 1.5rem;
}
@media screen and (max-width: 1600px) and (min-width:1100px){
    .pai-serviços{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px 20px;
    }
    .filho-serviços{
        border-radius: 0.5rem;
        border: 0.1rem solid gray;
        padding: 30px;
        display: grid;
        grid-template-rows: repeat(1,150px);
    }
    .img-serviços1{
        background-image: url('/img/direçaohidro.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços2{
        background-image: url('/img/direçaoeletrica.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços3{
        background-image: url('https://cdn.discordapp.com/attachments/1116905758785810554/1328848940203774086/184323-800-450.webp?ex=678b7e44&is=678a2cc4&hm=5ffca53daaf25928f3c2b13574a121df87a7d45a4a307cd50f4614be9f092216&');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .a{
        height: 20px;
    }
    h4{
        color: black;
        font-size: 2.2rem;
        text-align: center;
    }
}
@media screen and (max-width: 1150px) and (min-width:900px){
    .homeContainer{
        margin-top:100px;
    }
    #img{
        height: 500px;
        width: 300px;
    }
    .pai-serviços{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px 20px;
        margin-bottom: 330px;
    }
    .filho-serviços{
        border-radius: 0.5rem;
        border: 0.1rem solid gray;
        padding: 30px;
        display: grid;
        grid-template-rows: repeat(1,150px);
    }
    .img-serviços1{
        background-image: url('/img/direçaohidro.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços2{
        background-image: url('/img/direçaoeletrica.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços3{
        background-image: url('https://cdn.discordapp.com/attachments/1116905758785810554/1328848940203774086/184323-800-450.webp?ex=678b7e44&is=678a2cc4&hm=5ffca53daaf25928f3c2b13574a121df87a7d45a4a307cd50f4614be9f092216&');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .a{
        height: 20px;
    }
    h4{
        color: black;
        font-size: 2.2rem;
        text-align: center;
    }
    .review .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
        grid-template-rows: repeat(auto-fit, minmax(10rem,1fr));
    }
    .review .box-container .box {
        border: 0.1rem solid gray;
        border-radius: 1rem;
        text-align: center;
        padding: 1rem 1rem;
    }
    .review .box-container p{
        font-size: 1.3rem;
        padding: 1rem 0;
        line-height: 1.8;
        font-weight: lighter;
    }
    #div-footer{
        margin: 0 6vw;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #contato-pai{
        display: grid;
        grid-template-columns: repeat(3,minmax(150px,200px));
    }
    .gap{
        margin-bottom: 10px;
    }
    .contato-filho{
        width: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .contato-filho2{
        width: 100px;
        display: grid;
        gap: 10px;
    }
    #contato-pai div{
        color: white;
    }
    #contato-pai div a{
        color: white;
        font-size: 1.3rem;
    }
    h5{
        font-size: 1.5rem;
    }
    #logo{
        height:200px;
        width:200px;
    }
}
@media screen and (max-width: 900px) and (min-width:666px){
    section{
        padding: 1rem 1rem;
        margin: 0 6vw;
        max-width: 1500px;
    }
    
    .logo img {
        width: auto;
        height: 60px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background: linear-gradient( to bottom, black 90%, transparent)
    
    }
    .header section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        justify-content: space-between;
    }
    .header nav a{
        margin: 0 1rem;
        font-size: 1.2rem;
        color: white;
    }
    
    .header nav a:hover{
        color: #ffc222;
        border-bottom: 0.1rem solid  #ffc222;
        padding-bottom: 0.2rem;
        font-size: 1.4rem;
    
    }
    .homeContainer{
        margin-top: 70px;
    }
    #home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;}
    .content h3 {
        font-size: 2.5rem;
        font-weight: 700;
    }
        
    .content p {
        text-align: justify;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.5rem;
        padding: 1rem 0;
    }
    .btn {
        background: #bb0b0b;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 0.3rem;
        display: inline-block;
    }
    .tittle {
        font-size: 3.5rem;
        color: #bb0b0b;
        text-align: center;
        text-transform: uppercase;
    }
    .tittle span {
        font-size: 3.5rem;
        color: black;
        text-transform: uppercase;
    }
    .about .row .content {
        padding: 2rem;
    }
    .about .row .content h3 {
        font-size: 2.5rem;
        color: var(--main-colo);
    }

    .about .row .content p {
        font-size: 1.3rem;
        color: black;
        padding: 1rem 0;
        line-height: 1.5rem;
    }
    .pai-serviços{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px 20px;
        margin-bottom: 650px;
    }
    .filho-serviços{
        border-radius: 0.5rem;
        border: 0.1rem solid gray;
        padding: 30px;
        display: grid;
        grid-template-rows: repeat(1,150px);
    }
    .img-serviços1{
        background-image: url('/img/direçaohidro.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços2{
        background-image: url('/img/direçaoeletrica.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços3{
        background-image: url('/img/vedaçao.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .a{
        height: 20px;
    }
    h4{
        color: black;
        font-size: 2.2rem;
        text-align: center;
    }
    #div{
        grid-column-start: 2;
    }
    
    .review .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
        grid-template-rows: repeat(auto-fit, minmax(10rem,15rem));
    }
    .review .box-container .box {
        border: 0.1rem solid gray;
        border-radius: 1rem;
        text-align: center;
        padding: 1rem 1rem;
    }
    .review .box-container p{
        font-size: 1.3rem;
        padding: 1rem 0;
        line-height: 1.8;
        font-weight: lighter;
    }
    .subtitle {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.8;
        font-weight: bolder;
        padding-bottom: 1rem;
        text-transform: none;
        font-style: italic;
    }
    #div-footer{
        margin: 0 6vw;
        display: grid;
        grid-template-columns: 1fr 350px;
    }
    #contato-pai{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        gap: 15px;
    }
    .gap{
        margin-bottom: 10px;
    }
    .contato-filho{
        width: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    #contato-pai div{
        color: white;;
    }
    #contato-pai div a{
        color: white;
        font-size: 0.9rem;
    }
    h5{
        font-size: 1rem;
    }
    #logo{
        height:150px;
        width:150px;
    }
    #iframe{
        width:100px;
        height:100px;
    }
    .footer{
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 665px) {
    section{
        margin: 0 6vw;
        max-width: 1500px;
    }
    
    .logo img {
        width: auto;
        height: 60px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background: linear-gradient( to bottom, black 90%, transparent)
    
    }
    
    .header section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        justify-content: space-between;
    }
    .header nav a{
        margin: 0 1rem;
        font-size: 1.2rem;
        color: white;
    }
    
    .header nav a:hover{
        color: #ffc222;
        border-bottom: 0.1rem solid  #ffc222;
        padding-bottom: 0.2rem;
        font-size: 1.4rem;
    
    }
    .homeContainer{
        margin-top: 90px;
    }
    #home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;}
    .content h3 {
        font-size: 2rem;
        font-weight: 600;
    }
        
    .content p {
        text-align: justify;
        font-size: 1.25rem;
        font-weight: 350;
        line-height: 1.4rem;
        padding: 1rem 0;
    }
    .btn {
        background: #bb0b0b;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1.30rem;
        cursor: pointer;
        margin-top: 0.3rem;
        display: inline-block;
    }
    .tittle {
        font-size: 3.5rem;
        color: #bb0b0b;
        text-align: center;
        text-transform: uppercase;
    }
    .tittle span {
        font-size: 3.5rem;
        color: black;
        text-transform: uppercase;
    }
    .about .row .content {
        padding: 2rem;
    }
    .about .row .content h3 {
        font-size: 2rem;
        color: var(--main-colo);
    }

    .about .row .content p {
        font-size: 1.25rem;
        color: black;
        padding: 1rem 0;
        line-height: 1.4rem;
    }
    .pai-serviços{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px 20px;
        margin-bottom: 650px;
    }
    .filho-serviços{
        border-radius: 0.5rem;
        border: 0.1rem solid gray;
        padding: 30px;
        display: grid;
        grid-template-rows: repeat(1,150px);
    }
    .img-serviços1{
        background-image: url('/img/direçaohidro.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços2{
        background-image: url('/img/direçaoeletrica.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-serviços3{
        background-image: url('https://cdn.discordapp.com/attachments/1116905758785810554/1328848940203774086/184323-800-450.webp?ex=678b7e44&is=678a2cc4&hm=5ffca53daaf25928f3c2b13574a121df87a7d45a4a307cd50f4614be9f092216&');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .a{
        height: 20px;
    }
    h4{
        color: black;
        font-size: 2.2rem;
        text-align: center;
    }
    #div{
        grid-column-start: 2;
    }
    
    .review .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 38rem));
        gap: 1rem;
        grid-template-rows: repeat(auto-fit, minmax(10rem,15rem));
    }
    .review .box-container .box {
        border: 0.1rem solid gray;
        border-radius: 1rem;
        text-align: center;
        padding: 1rem 1rem;
    }
    .review .box-container p{
        font-size: 1.25rem;
        padding: 1rem 0;
        line-height: 1.8;
        font-weight: lighter;
    }
    .subtitle {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.8;
        font-weight: bolder;
        padding-bottom: 1rem;
        text-transform: none;
        font-style: italic;
    }
    #div-footer{
        margin: 0 6vw; 
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    #contato-pai{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        gap: 15px;
    }
    .gap{
        margin-bottom: 10px;
    }
    .contato-filho{
        width: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    #contato-pai div{
        color: white;;
    }
    #contato-pai div a{
        color: white;
        font-size: 0.8rem;
        max-width: 400px;
    }
    h5{
        font-size: 1rem;
    }
    #logo{
        height:100px;
        width:100px;
    }
    .footer{
        height: 30px;
        width: 30px;
    }
    #iframe{
        width:100px;
        height:100px;
    }
}

.hiddenRight{
    transform: translateX(30%);
    transition: all 1.7s;
    filter: blur(15px);
    opacity: 0;
}

.hiddenLeft{
    transform: translateX(-30%);
    transition: all 1.7s;
    filter: blur(15px);
    opacity: 0;
}

.show{
    transform: translateX(0);
    transition: all 1.7s;
    filter: blur(0);
    opacity: 1;
}

.box-container :nth-child(1){
    transition-delay: 400ms;
}

.box-container :nth-child(2){
    transition-delay: 700ms;
}

.box-container :nth-child(3){
    transition-delay: 1000ms;
}

.credito{
    background-color: #bb0b0b;
    text-align: center;
}